/* Font declarations go here*/

@import url(http://fonts.googleapis.com/css?family=Fontdiner+Swanky);
@import url(http://fonts.googleapis.com/css?family=VT323);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Kalam:300);

/* CSS declarations go here */

.toppadding {
    padding-top: 20px;
}

.kalam {
    font-family: 'Kalam', cursive;
}

.titillium {
    font-family: 'Titillium Web', sans-serif;
}

.VT323 {
    font-family: 'VT323';
}

.swanky {
    font-family: 'Fontdiner Swanky', cursive;
}

.unitHeight {
    max-height: 120px;
}

.unitHeightFixed {
    height: 120px;
}

.doubleUnitHeight {
    max-height: 260px;
}

.doubleUnitHeightFixed {
    height: 260px;
}

.tripleUnitHeight {
    max-height: 400px;
}

.tripleUnitHeightFixed {
    height: 400px;
}

.quadUnitHeight {
    max-height: 540px;
}

.quadUnitHeightFixed {
    height: 540px;
}

.scrolling {
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
}

.adjustable {
    min-width: 30%;
    width: auto;
    display: inline-block;
    max-width: 70%;
}

.threeWordPanel {
    height:75px;
    word-wrap: break-word;
    overflow: hidden;
}


/* Custom CSS from 3rd Parties*/


/***********BLINKING CURSOR <START>***********/

.blinking-cursor {
    font-weight: 100;
    font-size: 15px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-webkit-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-ms-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-o-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}


/***********BLINKING CURSOR <END>***********/
